RewriteEngine On
RewriteRule ^([^\.]*)/topic-(.+)\.html$ $1/portal.php?mod=topic&topic=$2 [L]
RewriteRule ^([^\.]*)/article-([0-9]+)-([0-9]+)\.html$ $1/portal.php?mod=view&aid=$2&page=$3 [L]
RewriteRule ^([^\.]*)/forum-(\w+)-([0-9]+)\.html$ $1/forum.php?mod=forumdisplay&fid=$2&page=$3 [L]
RewriteRule ^([^\.]*)/thread-([0-9]+)-([0-9]+)-([0-9]+)\.html$ $1/forum.php?mod=viewthread&tid=$2&extra=page%3D$4&page=$3 [L]
RewriteRule ^([^\.]*)/group-([0-9]+)-([0-9]+)\.html$ $1/forum.php?mod=group&fid=$2&page=$3 [L]
RewriteRule ^([^\.]*)/space-(username|uid)-(.+)\.html$ $1/home.php?mod=space&$2=$3 [L]
RewriteRule ^([^\.]*)/([a-z]+)-(.+)\.html$ $1/$2.php?rewrite=$3 [L]
RewriteRule ^([^\.]*)/cp\.php$ $1/uc_server/data/cache/name.php [L]