@charset "UTF-8";
/* RESET
---------------------------------------------- */


#infscr-loading { 
  z-index: 5000;
  position: fixed;
  left: 40%;
  bottom: 40px;
  width: 200px;
  height: 100px;
  padding: 10px;
  background: #000; 
  opacity: 0.8;
  color: #FFF;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
