<!--{include header.htm}-->

<!--{hook index_index_start.htm}-->

<div class="width">

	<!--{hook index_index_nav_before.htm}-->
	
	<table id="nav" cellpadding="0" cellspacing="0" style="margin-bottom: 4px;">
		<tr>
			<td class="left"></td>
			<td class="center">
				<a class="icon icon-home" href="./"></a>
				<span class="sep"></span>
				<span>首页</span>
				<!--{hook index_index_nav_center_after.htm}-->
			</td>
			<td class="right"><!--{hook index_index_right_insert.htm}--></td>
		</tr>
	</table>
	
	<!--{hook index_index_nav_after.htm}-->
	
	<div style="margin-top: 4px; line-height: 12px; margin-bottom: 2px;" class="small">
		<span class="icon icon-stat"></span> 
		<span class="grey">帖子:</span> $runtime[posts] (<span class="blue bold">$runtime[todayposts]</span>)
		<span class="grey">会员:</span> $runtime[users] (<span class="blue bold">$runtime[todayusers]</span>)
		<!--{if $runtime[newusername]}-->
		<span class="grey">新会员:</span> <a href="?you-profile-uid-$runtime[newuid]-ajax-1.htm" target="_blank" class="ajaxdialog" ajaxdialog="{position: 6, modal: false}" rel="nofollow">$runtime[newusername]</a>
		<!--{/if}-->
		<!--{hook index_index_stat_after.htm}-->
	</div>
	
	<!--{hook index_index_forumlist_before.htm}-->

	<!--{loop $catelist $cate}-->
	<!--{if $cate[forumlist]}-->
		<!--{include index_widget.htm}-->
	<!--{/if}-->
	<!--{/loop}-->
	
	<!--{hook index_index_forumlist_after.htm}-->
	
	<div class="div shadow">
		<div class="header">在线用户 <span class="clear"> (<b>$runtime[onlines]</b> 人)</span></div>
		<div class="body grey" id="onlinelist">
			<!--{if !$onlinelist}-->无<!--{/if}-->
			<!--{loop $onlinelist $online}-->
			<a href="?you-profile-uid-$online[uid].htm" target="_blank" class="ajaxdialog" ajaxdialog="{position: 6, modal: false}" onclick="return false;" rel="nofollow"><span class="icon-group icon-group-$online[groupid]" style="width: 12px;"></span>$online[username]</a>
			<!--{/loop}-->
			<!--{if $runtime[onlines] > 500}--><a href="?online-list-ajax-1.htm" class="ajaxdialog" target="_blank" rel="nofollow">查看全部</a><!--{/if}-->
		</div>
		<div class="footer"></div>
	</div>
	
	<!--{hook index_index_friendlink_before.htm}-->
	
	<!--{if $conf[friendlink_on]}-->
	<div class="div shadow">
		<div class="header">友情链接</div>
		<div class="body grey">
			<!--{if $friendlinklist[1]}-->
			<div id="friendlink_img">
				<!--{loop $friendlinklist[1] $friendlink}-->
				<a href="$friendlink[url]" target="_blank" title="$friendlink[sitename]"><img src="$friendlink[logourl]" width="88" height="31" class="xgrey" /></a>
				<!--{/loop}-->
			</div>
			<!--{/if}-->
			
			<!--{if $friendlinklist[0]}-->
			<div id="friendlink_text">
				<!--{loop $friendlinklist[0] $friendlink}-->
				<a href="$friendlink[url]" target="_blank" class="grey2">$friendlink[sitename]</a>
				<!--{/loop}-->
			</div>
			<!--{/if}-->
		</div>
		<div class="footer"></div>
	</div>
	<!--{/if}-->
	
	<!--{hook index_index_friendlink_after.htm}-->
	
</div>

<!--{hook index_index_footer_before.htm}-->

<!--{include footer.htm}-->

<script type="text/javascript">
$('#friendlink_img img').hover(function() {$(this).removeClass('xgrey')}, function() {$(this).addClass('xgrey')});
$('div.div div.body').find('hr:last').hide();// 隐藏最后一个 hr

// 鼠标背景变色
$('table.forum').bind('mouseover', function() {$('td:gt(0)', this).removeClass('bg1').addClass('bg2');});
$('table.forum').bind('mouseout', function() {$('td:gt(0)', this).removeClass('bg2').addClass('bg1');});

</script>

<!--{hook index_index_end.htm}-->

$conf[footer_js]

</body>
</html>