	<div class="div shadow">
		<div class="header">
			<span class="left">$cate[name]<!--{hook index_widget_header_left.htm}--></span>
			<span class="right clear">
			<!--{hook index_widget_header_right.htm}-->
			<!--{loop $cate[modlist] $modid $modname}-->
				<span class="grey">大区版主：</span><a href="?you-profile-uid-$modid-ajax-1.htm" target="_blank" class="ajaxdialog grey" ajaxdialog="{position: 6, modal: false}" rel="nofollow">$modname</a>
			<!--{/loop}-->
			</span>
		</div>
		<div class="body" style="padding: 0px;">
			<!--{if isset($cate[forumlist_chunk])}-->
			
			<!--{loop $cate[forumlist_chunk] $chunk}-->
			<table width="100%" cellspacing="4" cellpadding="0">
				<tr>
					<!--{loop $chunk $forum}-->
					<td style="width: {$cate[width]}">
					<!--{if !empty($forum)}-->
						<a href="?forum-index-fid-$forum[fid].htm"><span class="forumicon_big{if !$forum[todayposts]} xgrey{/if}" style="float: left; {if $forum[forumicon_big]}background-image: url($forum[forumicon_big]);{/if}"></span></a>
						<div style="margin-left: 56px; padding-left: 4px; lie-height: 2;">
							<p>
								<a href="?forum-index-fid-$forum[fid].htm" style="font-size: 14px; display: inline-block;"><b>$forum[name]</b></a>
								<!--{if $forum[todayposts]}-->
								<span class="blue" title="今日发帖：$forum[todayposts]">(<b>$forum[todayposts]</b>)</span>
								<!--{/if}-->
							</p>
							<p class="grey">
								主题: <span class="grey">$forum[threads]</span> 贴数: <span class="grey"> $forum[posts]</span>
							</p>
							<!--{if $forum[lastsubject]}-->
							<p><a href="?thread-index-fid-$forum[fid]-tid-$forum[lasttid].htm">最后发帖：$forum[lastpost_fmt]</a></p>
							<!--{/if}-->	
						</div>
					<!--{/if}-->
					</td>
					<!--{/loop}-->
				</tr>
			</table>
			<hr style="margin-left: 4px; margin-right: 4px; margin-bottom: 2px; margin-top: 2px;" />
			<!--{/loop}-->
			
			<!--{else}-->
			
			<!--{loop $cate[forumlist] $forum}-->
			<table cellpadding="2" cellspacing="0" width="100%" class="forum">
				<tr valign="top"> 
					<td width="70" align="center"><a href="?forum-index-fid-$forum[fid].htm"><span class="forumicon_big{if !$forum[todayposts]} xgrey{/if}" {if $forum[forumicon_big]}style="background-image: url($forum[forumicon_big]);"{/if}></span></a></td>
					<td>
						<a href="?forum-index-fid-$forum[fid].htm" style="font-size: 14px; display: inline-block;"><b>$forum[name]</b></a>
					
						<!--{if $forum[todayposts]}-->
						<span class="blue" title="今日发帖：$forum[todayposts]">(<b>$forum[todayposts]</b>)</span>
						<!--{/if}-->
					
						<!--{if $forum[brief]}-->
						<p class="grey">$forum[brief]</p>
						<!--{/if}-->
					
						<!--{if $forum[modlist]}-->
						<p class="grey">
							<b>版主:</b>
							<!--{loop $forum[modlist] $modid $modname}-->
							<a href="?you-profile-uid-$modid-ajax-1.htm" target="_blank" class="ajaxdialog" ajaxdialog="{position: 6, modal: false}" rel="nofollow">$modname</a>
							<!--{/loop}-->
						</p>
						<!--{/if}-->
					
						<!--{hook index_widget_mod_after.htm}-->
					
					</td>
					
					<!--{hook index_widget_forum_name_td_after.htm}-->
					
					<td width="80" valign="middle" align="center" title="版块贴数">
						<span class="blue">$forum[threads]</span> <span class="grey">/ $forum[posts]</span>
					</td>
					<td width="200" valign="middle">
						<!--{if $forum[lastsubject]}-->
						<a href="?thread-index-fid-$forum[fid]-tid-$forum[lasttid].htm" target="_blank">$forum[lastsubject]</a><br />
						<span class="grey">
							$forum[lastpost_fmt]
							<a href="?you-profile-uid-$forum[lastuid]-ajax-1.htm" target="_blank" class="ajaxdialog" ajaxdialog="{position: 6, modal: false}" onclick="return false;" rel="nofollow">$forum[lastusername]</a>
						</span>
						<!--{/if}-->	
					</td>
				</tr>
			</table>
			<hr style="margin-left: 4px; margin-right: 4px; margin-bottom: 2px; margin-top: 2px;" />
			<!--{/loop}-->
			
			<!--{/if}-->
		</div>
		<div class="footer"></div>
	</div>