<!--{include header.htm}-->

<link href="view/my.css" type="text/css" rel="stylesheet" />

<div class="width">

	<div class="left border shadow bg2">
		<!--{include mod_menu_widget.htm}-->
	</div>
	
	<div class="right">
		<div class="list">
			<table class="table">
				<tr class="header">
					<td width="100">操作人</td>
					<td width="100">版块</td>
					<td>主题</td>
					<td width="100">影响积分</td>
					<td width="100">时间</td>
					<td width="100">动作</td>
				</tr>
				<!--{if $loglist}-->
				<!--{loop $loglist $log}-->
				<tr>
					<td><a href="?you-index-uid-$log[uid].htm" target="_blank">$log[username]</a></td>
					<td><a href="?forum-index-fid-$log[fid].htm" target="_blank">$log[forumname]</a></td>
					<td><a href="?thread-index-fid-$log[fid]-tid-$log[tid].htm" target="_blank">$log[subject]</a></td>
					<td>$log[credits]</td>
					<td>$log[dateline_fmt]</td>
					<td>$log[action_fmt]</td>
				</tr>
				<!--{/loop}-->
				<!--{else}-->
				<tr>
					<td colspan="6">无</td>
				</tr>
				<!--{/if}-->
			</table>
		</div>
		<div class="page" style="text-align: center;">$pages</div>
	</div>
</div>	

<!--{include footer.htm}-->

$conf[footer_js]

</body>
</html>