<!-- about info start -->
	<div id="about">
		<div class="about a">
			<h6>关于</h6>
<ul>

    <li><a href="###">什么是影空</a></li>

    <li><a href="###">影空 LOGO & 吉祥物</a></li>

    <li><a href="###">影空团队</a></li>

    <li><a href="###">各地分公司</a></li>

    <li><a href="###">诚聘英才</a></li>

</ul>
		</div>
		<div class="about h">
			<h6>合作</h6>
<ul>

    <li><a href="###"> 市场 & 商务合作 </a></li>

    <li><a href="###"> 市场 & 商务合作 </a></li>

</ul>
		</div>
		<div class="about b">
			<h6>帮助</h6>
			<ul>

				<li><a href="###">什么是影空VIP?</a></li>
				<li><a href="###">如何申请影空VIP</a></li>
				<li><a href="###">网站使用</a></li>
			</ul>
		</div>
		<div class="about zc">
			<h6>会员政策</h6>

			<ul>
				<li><a href="###">隐私申明</a></li>
				<li><a href="###">行为守则</a></li>
				<li><a href="###">安全条款和条件</a></li>
			</ul>
		</div>
		<div class="about yk">

			<h6>这就是影空！</h6>
			<ul>
				<li><a href="###">在影空，让你梦想成真！</a></li>
				<li><a href="###">影空为影视娱乐产业中，艺人与摄制组搭建了便捷的沟通平台</a></li>
				<li><a href="###">通过严格的审核制度，让艺人与摄制组合作更加可靠，更加便捷</a></li>
				<li><a href="###">影空给你实现梦想的机会，在影空你可以尽情展现自己，磨练自己</a></li>

				<li><a href="###">在影空，摄制组可以轻松找到适合的艺人</a></li>
			</ul>
			<div class="join">
				<a href="#"><img src="indexNew/image/icon_join.gif" width="89" height="32" /></a>
			</div>
		</div>
	</div>
	<!-- about info start -->

	<!-- copyright start -->
	<div id="copyright">
		Copyright ? 2011 <strong>影空传媒</strong> 版权所有.   <font color="#b1b1b1">京ICP证061035号/京ICP备09096568号</font>
	</div>
	<!-- copyright end -->

</div>
</body>
</html>
