		<div class="mn">
			<ul>
				<li><a class="all_off" href="./">全部分类</a></li>
				<li><a class="male{if $type != 'man'}_off{/if}" href="stars.php?type=man">男艺人</a></li>
				<li><a class="female{if $type != 'lady'}_off{/if}" href="stars.php?type=lady">女艺人</a></li>
				<li><a class="industry{if $type != 'industry'}_off{/if}" href="stars.php?type=industry">业内精英</a></li>
				<li><a class="new{if $type != 'newvip'}_off{/if}" href="stars.php?type=newvip">最新入驻</a></li>
			</ul>
		</div>
	</div>