		<div class="mn">
			<ul>
				<li><a class="all_off" href="./">全部分类</a></li>
				<li><a class="male{if $type != 'man'}_off{/if}" href="stars.php?type=man">男艺人</a></li>
				<li><a class="female{if $type != 'lady'}_off{/if}" href="stars.php?type=lady">女艺人</a></li>
				<li><a class="industry{if $type != 'industry'}_off{/if}" href="stars.php?type=industry">业内精英</a></li>
				<li><a class="actor{if $type != 'actor'}_off{/if}" href="stars.php?type=actor">演员</a></li>
				<li><a class="model{if $type != 'model'}_off{/if}" href="stars.php?type=model">模特</a></li>
				<li><a class="singer{if $type != 'singer'}_off{/if}" href="stars.php?type=singer">歌手</a></li>
			</ul>
		</div>
	</div>