<!--{include header.htm}-->

<div class="width">

	<div style="width: 700px; margin: auto;">
		<h1>$conf[app_name] 管理系统</h1>
		<div class="div">
			<div class="header"> 当前环境信息 </div>
			<div class="body">
				<dl>
					<dt>OS: </dt><dd> {PHP_OS}</dd>
					<dt>Web Server: </dt><dd> $info[SERVER_SOFTWARE]</dd>
					<dt>PHP: </dt><dd> {PHP_VERSION}</dd>
					<dt>DB: </dt><dd> $conf[db][type] ($info[dbversion])</dd>
					<dt>disable_functions: </dt><dd>$info[disable_functions] <br /> <span class="grey" style="white-space: normal;"> 建议禁用如下函数：<br />exec,system,passthru,shell_exec,system,cmd,popen,dl,proc_open,curl_exec,<br />curl_multi_exec,parse_ini_file,show_source</span></dd>
					<dt>upload_max_filesize: </dt><dd>$info[upload_max_filesize]</dd>
					<dt>post_max_size: </dt><dd>$info[post_max_size]</dd>
					<dt>allow_url_fopen: </dt><dd>$info[allow_url_fopen] <span class="grey">(建议不要开启，某些主机会导致CPU 100%，并且导致不安全)</span></dd>
					<dt>safe_mode: </dt><dd>$info[safe_mode] <span class="grey">(建议开启)</span></dd>
					<dt>max_execution_time: </dt><dd>$info[max_execution_time] <span class="grey">(建议为10秒)</span></dd>
					<dt>memory_limit: </dt><dd>$info[memory_limit] <span class="grey">(建议为10M)</span></dd>
				</dl>
			</div>
		</div>
		
		<!--{hook admin_index_main_1.htm}-->
		
		<div class="div" style="display: none;">
			<div class="header"> 资源状况 </div>
			<div class="body">
				<dl>
					<dt>带宽: </dt><dd>100M</dd>
					<dt>Ping: </dt><dd>10ms</dd>
					<dt>CPU: </dt><dd>8颗, 2.x</dd>
					<dt>CPU使用率: </dt><dd>30%</dd>
					<dt>loadavg: </dt><dd>2.0</dd>
					<dt>内存: </dt><dd>4G/16G</dd>
					<dt>磁盘空间: </dt><dd>30G/100G RAID1</dd>
					<dt>磁盘IO负载: </dt><dd>100k/s</dd>
					<dt>网卡每秒流量: </dt><dd>总：110k/s, 读:100k/s 写：10k/s</dd>
					<dt>网络连接数: </dt><dd>8000</dd>
					<dt>开启的端口: </dt><dd>21, 22, 80</dd>
				</dl>
			</div>
		</div>
		
		<div class="div">
			<div class="header"> 开发信息 </div>
			<div class="body">
				<dl>
					<dt>开发者: </dt><dd> Xiuno</dd>
					<dt>感谢: </dt><dd>Discuz! Team（CrossDay, CnTeAcHeR, 童虎, Langwan, Monkeye, liuqiang, 剑心, redstone）, ramboo, 白海宏, 九尾狐管理团队。还有特别感谢我的老婆为我生了一个孩子，让我体会了为人父母的辛苦和快乐！</dd>
				</dl>
			</div>
		</div>
	</div>

</div>
 
<!--{include footer.htm}-->

$lastversion

</body>
</html>