<!--{include header.htm}-->

<div class="width">
	<form action="?medal-update-medalId-$medal[medalId]-page-$page.htm" method="post" id="medal_update_form" enctype="multipart/form-data">
		<input type="hidden" name="FORM_HASH" value="{FORM_HASH}" />
		<div class="div" style="width: 600px;">
			<div class="header">编辑</div>
			<div class="body">
				<dl>
					<dt>排序:</dt><dd><input type="text" name="medal[seq]" value="$medal[seq]" style="width: 50px" /></dd>
					<dt>勋章名称:</dt><dd><input type="text" name="medal[medalName]" value="$medal[medalName]" style="width: 150px" /></dd>
					<dt>勋章描述:</dt><dd><input type="text" name="medal[description]" value="$medal[description]" style="width: 150px" /></dd>
					<dt><label for="type">勋章类型：</label></dt>
					<dd>
						<select id="receiveType" name="medal[receiveType]">
							<option value="1" {if $medal[receiveType]==1}selected="selected"{/if}>自动发放</option>
							<option value="2" {if $medal[receiveType]==2}selected="selected"{/if}>手动发放</option>
						</select>
					</dd>
					<dt><label for="logo">勋章图片：</label></dt>
					<dd>
						<!--{if $medal[picture]}-->
						<img src="$medal[picture]" /><br />
						<!--{/if}-->
						<input type="file" name="picture" id="picture" value="" style="width: 100px" />
					</dd>
					<dt></dt>
					<dd>
						<input type="submit" class="button bigblue" id="medal_update_submit" value="编辑" />
						<input type="button" class="button biggrey" value="返回" onclick="history.back()" />
						<div class="notice" id="notice" style="display: none;"></div>
					</dd>
					
				</dl>
			</div>
		</div>
	</form>
</div>

<!--{include footer.htm}-->
<script>
$('#medal_update_submit').click(function() {
	$('#medal_update_form').submit();
	return false;
});
</script>
</body>
</html>