<!--{include header.htm}-->

<div class="width">
	<form action="?friendlink-update-linkid-$friendlink[linkid].htm" method="post" id="friendlink_update_form" enctype="multipart/form-data">
		<input type="hidden" name="FORM_HASH" value="{FORM_HASH}" />
		<div class="div" style="width: 600px;">
			<div class="header">编辑</div>
			<div class="body">
				<dl>
					<dt>勋章名称:</dt><dd><input type="text" name="medalName" value="$medal[medalName]" style="width: 150px" /></dd>
					<dt>勋章描述:</dt><dd><input type="text" name="description" value="$medal[description]" style="width: 150px" /></dd>
					<dt><label for="type">勋章类型：</label></dt>
					<dd>
						<select id="receiveType" name="receiveType">
							<option value="1" {if $medal[receiveType]==1}selected="selected"{/if}>自动获取</option>
							<option value="2" {if $medal[receiveType]==2}selected="selected"{/if}>手动发放</option>
						</select>
					</dd>
					<dt><label for="logo">勋章图片：</label></dt>
					<dd>
						<!--{if $medal[picture]}-->
						<img src="$medal[picture]" width="88" height="31" /><br />
						<!--{/if}-->
						<input type="file" name="logo" id="logo" value="" style="width: 100px" />
					</dd>
					<dt></dt>
					<dd>
						<input type="submit" class="button bigblue" id="friendlink_update_submit" value="编辑" />
						<input type="button" class="button biggrey" value="返回" onclick="history.back()" />
						<div class="notice" id="notice" style="display: none;"></div>
					</dd>
					
				</dl>
			</div>
		</div>
	</form>
</div>

<!--{include footer.htm}-->

<script type="text/javascript">
$('#friendlink_update_submit').click(function() {
	$('#friendlink_update_form').submit();
	return false;
});

<!--{loop $error $k $v}-->
<!--{if $v}-->
	$('#$k').alert('$v');
<!--{/if}-->
<!--{/loop}-->

<!--{if !empty($_POST)}-->
<!--{if empty($error)}-->
	$('#notice').html('编辑成功！').show();
<!--{else}-->
	$('#notice').html('编辑失败！').show();
<!--{/if}-->
<!--{/if}-->

</script>

</body>
</html>