#Part_Vip,#Part_Vip .R_Title1,#Part_Vip .Flow_T,#Part_Vip .New_T,#Part3_Class .TOP,#Part3_Class .Bottom,#Part3_Class .R_Title2,#Part4_Last .R_Title3,#Part4_Last span.a1,#Part4_Last span.a2,.S_Title1,#content .update .menu1,#content .update .menu2{background:url(/images/fy_titles.png) no-repeat}
.status{background:url(/images/fy_Title2.png) repeat-x}
#main{float:right;width:710px;}
#main .Sum .novel_img img{float:left;padding:2px;border:1px solid #aaa;background:#fff;margin:0 8px 4px 0}
.border{border:1px solid #afafaf;margin-bottom:10px;}
.status{background-position:0 0;height:29px;color:#fff;padding-left:5px;line-height:29px;f}
.status a,.status a.black{color:#fff;}
.status a:visited,.status a:hover,.status a:active{color:#eee;}
#war #Sid .Lx_a,#content .Sum,#content div.novel_msg{margin-bottom:10px;}
#content{padding:9px;position:relative;}
#content h1{text-align:center;font-family:"新宋体";border-bottom:1px dashed #aaa;margin-bottom:10px;}
#content div.novel_msg{text-align:center}
div.novel_msg span a,.blue_bg .Sum .novel_msg li a{color:#1f8300}
div.novel_msg span a:visited,.blue_bg .Sum .novel_msg li a:visited{color:#1f8300}
div.novel_msg span a:hover,.blue_bg .Sum ul .novel_msg a:hover{color:#f00}
#content .Sum ul li ul.novel_msg{margin-bottom:-1px;#margin-bottom:-6px}
#content .Sum ul li ul.novel_msg li{float:left;margin-bottom:0;width:36%;line-height:23px;text-align:left;}
#content .Search_line{border-bottom:1px dashed #aaa;}
#content .Search_line ul{height:140px;margin-bottom:10px}
#content .Sum .novel_img{float:left;margin:0 10px 0 0;display:block}
#content .undercover{position:absolute;left:11px;top:285px;height:20px;width:124px;color:#1A53FF;text-align:center;}
#content .downloads{position:absolute;left:11px;top:255px;width:124px;text-align:center}
#content .downloads a{display:block;height:20px;line-height:20px;width:70px;margin:0 auto;background-color:#f2f2f2;border:1px solid #ddd;color:#F60;}
#content .downloads a:hover{border:1px solid #b8bbbc;color:#F30;background-color:#fff;}
#content .Sum ul li,#content .Sum ul h2{margin-bottom:4px;font-weight:normal;}
#content .Sum ul h2 a{font-weight:bold}
#content .Sum ul li.gray{background:#eee;padding:0 5px;margin-bottom:0;line-height:30px}
#content .Sum ul li em.blue a{color:#090}
#content .Sum ul li em.blue a:hover,.volume table a:hover{color:#f00}
#content h3{font-size:12px;line-height:25px;background:url(/images/u_icon.gif) no-repeat 0px -109px;padding:0 20px;margin:8px 0}
#content h3 *{color:#000}
h4{background:#F4FFDD;line-height:30px;font-weight:normal;border:1px solid #8fd016;font-size:12px;margin:0 0 10px 0;padding-left:10px;}
h4 a{margin:0 3px;}
h4 span{float:left;font-weight:bold}
h4 a#Cur,h4 a:hover#Cur{color:#F00;font-weight:bold;text-decoration:none}
#main .R_G1{text-align:center;margin-bottom:10px;border:none;padding:0;}
iframe{margin:0;padding:0}
#main .R_G2{text-align:center;margin-top:8px;}
#content .update h3.navi{line-height:28px;height:30px;background:url(/images/fy_Title2.png) 0 29px repeat-x;padding:0;margin:0}
#content .update h3.navi span{width:140px;margin-right:3px;display:block;float:left;text-align:center;font-size:12px}
#content .update .menu2{background-position:-188px -195px;color:#090;cursor:pointer;margin-top:2px;line-height:29px;border:1px solid #aaa;border-bottom-width:0}
#content .update .menu1{background-position:0 -195px;color:#000;font-weight:normal;cursor:pointer;font-weight:bold;line-height:29px;border:1px solid #aaa;border-bottom-width:0}
#content .update dl{border-width:0 1px 1px;border-color:#aaa;border-style:solid;background:#fff;padding:10px;}
#content .update dt{line-height:28px;color:#555;}
#content .button3{background-position:0 -230px;text-indent:0;text-align:center;width:140px;margin:0 auto;line-height:28px;}
#content .B_vipb{background:url(/images/h_button.png) no-repeat 0 -384px;line-height:36px;width:187px;font-size:14px;text-align:center;margin:0 auto;}
#content .B_vipb a{color:#fff;}
#content .B_vipb a:hover{text-decoration:none;color:#fff;}
.B_vipb a:visited{color:#000}
#content .Sum .friendlink dt{font-weight:700;display:inline;}
#content .Sum .friendlink dd{display:inline;zoom:1;white-space:nowrap;margin-left:-6px;}
#content .friendlink a{color:#1f8300;}
.volume{margin:12px 0 18px;}
.volume table,.volume table tr,.volume table td,dl.draft table,dl.draft table tr,dl.draft table td{text-align:left;vertical-align:top;border:0;margin:0}
.volume table td{background:url(/images/line.gif) repeat-x 0 bottom;line-height:17px;padding:7px 0 6px 4px;}
table td.line_none{background:none}
.volume table td img{margin:3px 0 4px 5px;vertical-align:middle}
.volume h2{background:url(/images/fy_titles3.png) no-repeat;text-indent:0;font-size:14px;line-height:30px;}
.volume p,.volume h2{margin-bottom:6px;}
.volume h2 span{float:left;width:26px;color:#fff;font-size:16px;text-align:center;}
.volume table a{margin-left:4px}
.volume table strong{font-weight:normal;text-align:left;width:45px;display:block;float:left;}
.volume table strong a{background:url(/images/h_button.png) no-repeat 0 -100px;line-height:15px;display:block;font-weight:normal;padding:1px 0 0 3px;#padding-top:2px;margin:0;}
.volume table strong a:hover{text-decoration:none;margin:0;color:#f60;}
#content .button3 a:hover{color:#000}
.volume table strong a:link,.volume table strong a:hover,.volume table strong a:visited,.volume table strong a:active{color:#f60;}
.blue_bg{background:#f8f8f8;}
.volume table a:link{color:#1f8300}
ul.cookie{text-align:right;padding:0 0 10px 210px;}
ul.cookie li{float:left;display:block;line-height:22px;font-size:12px;}
ul.cookie li.bg_Color{width:150px;}
ul.cookie li.font_Color{width:160px;}
ul.cookie li.font_Size{width:100px;}
ul.cookie li.initial{width:60px;}
ul.cookie li em{float:left;font-style:normal}
ul.cookie li i{float:left;display:block;height:12px;overflow:hidden;width:12px;margin:2px 0 0 4px;border:1px solid #555}
ul.cookie li b{float:left}
ul.cookie li a{cursor:pointer;float:none}
#article{font-size:14px;line-height:180%}
#article h2{font-weight:normal;color:#090;font-size:14px;text-indent:0}
#article p{margin-bottom:12px;}
#content .shop{padding-left:25px;}
#content .shop a{color:#090;margin:0 4px}
#content .menupage{text-align:right;line-height:35px;position:relative}
#content .menupage span.Gg{position:absolute;top:0;left:0;z-index:1;padding-left:28px;}
#content .menupage span.Gg a{color:#1A53FF;text-decoration:none;font-weight:normal;background:none}
#content .menupage span.Gg a:hover{color:#f60;}
#content .menupage span.Gg a.red{color:red}
#content .menupage a{background:url(/images/h_button.png) no-repeat;color:#000;font-weight:bold}
#content .menupage a.Pre{background-position:0 -125px;padding:7px 20px 7px 30px;}
#content .menupage a.Ca{background-position:0 -160px;padding:7px 30px;}
#content .menupage a.Next{background-position:0 -195px;padding:7px 30px 7px 20px;}
#main .recommend{text-align:center;color:#555;padding:10px 0;border-top:1px solid #aaa;font-weight:bold;background:#fff}
#page{text-align:right;line-height:28px;}
#page a{padding:2px 6px;vertical-align:middle;margin-right:4px;border:1px solid #8c8c8c;}
#page a:hover{color:#000;text-decoration:none;background-color:#fff;border:1px solid #000;}
#page a.CurrentPage{font-weight:bold;color:#FFFFFF;text-decoration:none;background-color:#c7c7c7;border:1px solid #8c8c8c;color:#000;}
#main .R_G1{text-align:center;margin-bottom:10px;border:none;padding:0;}
iframe{margin:0;padding:0}
#main .R_G2{text-align:center;margin-top:8px;}
.Wrong{font-weight:bold;line-height:30px;margin:30px 0;}
.Wrong img{vertical-align:middle;margin:0 5px;}
.gray{color:#666}
.Table2{line-height:30px;margin-top:8px;background:url(/images/text-bg.gif) repeat}
.Table2 td{height:30px;}
.Table2 td img{vertical-align:middle;margin:0 4px;}
.googleadseachr{padding-top:18px;}
.googleadseachr .googlelogo,.googleadseacher .googleinput,.googleadseacher .googlekeyword{float:left;margin-right:5px;line-height:30px;}
.Font_bule{color:#f5fdff}
.Font_red{color:#FEE9E9}
.Font_yellow{color:#FFFFED}
.Font_green{color:#eefaee}
.Font_pink{color:#FCEFFF}
.Font_gray{color:#efefef}
.Cont .nr2 a{line-height:20px;}
.Cont .nr2 img{float:left}
.R_g1 iframe{text-align:center}
.black{color:#000;}
#Part_Vip,#Part_Vip .R_Title1,#Part_Vip .Flow_T,#Part_Vip .New_T,#Part3_Class .TOP,#Part3_Class .Bottom,#Part3_Class .R_Title2,#Part4_Last .R_Title3,#Part4_Last span.a1,#Part4_Last span.a2,.other_novel .Title,.Bonus_T_L .Title{background:url(/images/fy_titles.png) no-repeat}
.other_novel{border:1px solid #aeaeae;margin-bottom:10px;clear:both}
.other_novel .Title,.Bonus_T_L .Title{background-position:left 0;line-height:25px;border:1px solid #d8d8d8;text-align:left;padding:0 15px;color:#fff;position:relative}
.other_novel ul.content,.other_novel ul.content2{border-top:1px solid #aeaeae;padding:10px;}
.other_novel ul.content2 li{float:left;width:13.4%;margin:0 0.4%;display:inline;text-align:center}
.other_novel ul.content li{float:left;width:19%;margin:0 0.4%;display:inline;text-align:center}
.other_novel ul.content li img,.other_novel ul.content2 li img,.border_img img{display:block;clear:both;margin:0 auto 3px auto;padding:2px;border:1px solid #aaa;background:#fff;}
.other_novel ul.content li a:hover img,.other_novel ul.content2 li a:hover img,.border_img a:hover img{border:1px solid #000;}
.button4 a,.button5{background:url(/images/i_buyimg.gif) no-repeat;}
.button5{background-position:0 -109px;width:115px;text-align:center;margin:5px auto;font-weight:bold;font-size:14px;line-height:35px}
.button5 a,.button5 a:hover,.button5 a:visited{color:#fff;display:block}
.button6{background:url(/images/i_buyimg.gif) no-repeat 0 -38px;height:22px;width:60px;margin:10px auto;color:#fff;border:0;font-weight:bold;}
.item dl{float:left;width:60px;margin:0 3px;text-align:center;padding-bottom:5px}
.item dl dt img{display:block;margin:0 auto}
.button4 a{background-position:0 -73px;width:56px;line-height:21px;text-align:center;display:block;margin:0 auto;}
.button4 a,.button4 a:hover{color:#F60;text-decoration:none}
.item_msg{background:#eee;padding:4px;position:absolute;z-index:5555;}
.I_tem2 .cont2 ul li,.I_tem2 .cont2 ul li span,.log_bt .button7{background:url(/images/fy_lx_in_img1.png) no-repeat}
.item_msg .I_tem{border:1px solid #aaa;background:#fff;padding:15px;line-height:23px;}
.I_tem p input{vertical-align:top;margin-top:4px;margin-top:-5px\9;margin-bottom:8px\9;}
.I_tem p input.button6{margin-top:10px\9;margin-bottom:10px\9;}
.I_tem2{border:1px solid #aaa;background:#fff;}
.I_tem2 .Tit1{background:url(/images/fy_lx_in_img1.png) repeat-x;line-height:55px;font-size:16px;color:#f60;border:1px solid #fff;text-align:center}
.I_tem2 .cont2{font-size:14px;padding:15px 35px 30px 35px;border-top:1px solid #aaa;line-height:38px}
.I_tem2 .cont2 p.lih_1{line-height:35px;text-align:center}
.I_tem2 .cont2 ul{margin-bottom:10px}
.I_tem2 .cont2 ul li{float:left;background-position:125px -229px;padding:0 35px 0 0;font-weight:bold;color:#666}
.I_tem2 .cont2 a{text-decoration:underline;color:#090}
.I_tem2 .cont2 a:hover{color:red}
.I_tem2 .cont2 ul li.cur{background-position:125px -173px;}
.I_tem2 .cont2 ul li span{background-position:-5px -126px;padding:10px 8px;font-size:15px;font-family:Arial;margin-right:5px;color:#666}
.I_tem2 .cont2 ul li.none{background:none;padding:0}
.I_tem2 .cont2 ul li.cur span{background-position:-5px -72px;width:40px;font-size:15px;color:#090}
.I_tem2 .cont2 h3{font-size:14px}
.I_tem2 .cont2 .login2{line-height:26px;padding:5px 0 0 0}
.I_tem2 .cont2 .login2 span{font-size:12px;color:red;padding:6px;}
.I_tem2 .log_bt{font-size:12px;}
.I_tem2 .log_bt a{color:#666;}
.I_tem2 .log_bt .button7{background-position:0 -275px;float:left;margin:0 5px 0 0;border:none;width:68px;line-height:25px;height:25px;font-size:14px;color:#fff;font-weight:bold}
.r_password{font-size:12px;color:#666;}
.wrong1{position:absolute;z-index:6666;height:25px;margin:-20px 0 0 65px;font-size:12px;color:red}
.center{text-align:center}
.close{background:url(/images/i_close.gif) no-repeat -22px top;width:20px;height:20px;position:absolute;cursor:pointer;}
.item_msg .close{top:12px;right:10px;}
.mar_2{margin-bottom:8px}
.I_M1{width:340px;left:300px;top:300PX}
.I_M2{width:470px;left:300px;top:570PX}
.I_M3{width:340px;left:300px;top:700PX}
.I_M4{width:500px;left:300px;top:700PX}
.item_msg p{clear:both}
.item_msg label{display:inline;margin:0;padding:0;padding:0;white-space:nowrap;}
.item_msg textarea{width:330px;margin:5px auto;height:40px}
.I_tem .words{float:left;padding-left:5px;width:50px;}
.I_tem .p_line{border-bottom:1px solid #e0e0e0;margin-bottom:10px;}
.I_tem .p_line b{font-weight:bold;}
.I_tem label b{color:#128ccc;background:#fff;padding:2px;font-weight:normal!important;}
.I_tem p.red{border-top:1px solid #e0e0e0;}
.Login_W{border:1px solid #aaa;font-size:12px;width:280px;zoom:1;overflow:hidden;padding:1px;position:absolute;background:#fff;z-index:1}
.Login_W .title{background:url("/images/fy_titles.png") no-repeat scroll -200px 0 transparent;line-height:30px;margin-bottom:4px;text-align:right;padding-right:10px;position:relative}
.Login_W .title h2{display:inline;float:left;text-indent:1pc;color:#fff;}
.Login_W ul{padding:20px 10px 15px;line-height:30px;}
.Login_W ul li label,.I_tem2 .cont2 .login2 label{width:60px;float:left;text-align:right;height:30px}
.I_tem2 .cont2 .login2 label{height:35px}
.Login_W .checkbox{margin:7px 3px 0 0;#margin:3px 0px 0 0;float:left;}
*html .Login_W .checkbox{margin-left:0px;margin-right:3px;margin-top:7px} *+html .Login_W .checkbox{margin-left:0px;margin-right:3px;margin-top:7px}
.Login_W input.button6{float:left;line-height:20px;margin:3px 6px 0 0;}
.Login_W .title .close{top:6px;right:5px;}
.Login_W input.input2,.I_tem2 .cont2 .login2 input.input2{width:150px;height:16px;}
.download-cue{width:400px;}
.download-cue .text{padding:15px 20px;color:#555;}
.download-cue p.button{text-align:center;}
.download-cue p.button .button6{float:none;margin:10px auto 15px;}
#novel_msg_tags strong{font-weight:normal;color:#666;}
#novel_msg_tags a:link{color:#090;}
#novel_msg_tags a:visited{color:#090;}
#novel_msg_tags a:hover{text-decoration:underline;}
#novel_msg_tags a.blue:link{color:#1A53FF;}
#novel_msg_tags a.blue:visited{color:#1A53FF;}
#novel_msg_tags a.blue:hover{text-decoration:underline;}
.Bonus_T_R{float:right;width:230px;margin-left:10px;}
.Bonus_T_L{float:left;width:710px}
.Bonus_T_L .status h2{padding-left:10px;display:inline;float:left}
.Bonus_T_L .status{text-align:right;padding-right:10px;}
.Bonus_T_L .B_img{float:left;padding:10px 10px;text-align:center;width:130px;line-height:26px;background:url(/images/Bonus_top.png) repeat-x bottom;height:236px}
.Bonus_T_L .B_img h2{padding:0;display:block;font-weight:normal}
.Bonus_T_L .B_img h2 a{font-weight:bold}
.Bonus_T_L .B_List{border-left:1PX solid #7ae0ff;}
.Bonus_T_L li strong.red a,.Bonus_T_L li strong.red a:hover,a.red{color:red}
.Bonus_T_L .black a:hover{color:#f60;text-decoration:none}
.Bonus_T_L .B_List .L_t{padding:8px 0;background:#fff;}
.Bonus_T_L .B_List .L_t ul{border-left:1px dashed #aaa;margin:0 -1px;float:left;width:165px;line-height:21px;overflow:auto;padding:0 8px 0 10px;}
.Bonus_T_L .B_List .L_t ul li{padding:0;text-indent:0}
.Bonus_T_L .B_li2{float:left;width:280px;margin-right:10px;}
.Bonus_T_L .B_li3 .Title,.Bonus_T_L .B_li2 .Title{text-indent:1pc;position:relative}
.Bonus_T_L .B_li2 ul,.Bonus_T_L .B_li3 ul{padding:10px 15px 15px;}
.Bonus_T_L .B_li2 ul li,.Bonus_T_L .B_li3 li{border-bottom:1px dashed #aaa;line-height:27px;}
.Bonus_T_L .B_li3{width:412px;float:left}
.Bonus_T_L .B_li3 li{text-align:center}
.Bonus_T_L .B_li3 li span{float:left;text-align:left;padding:0;margin:0;display:inline;width:240px;}
.Bonus_T_L .B_li3 li span a{color:#1A53FF}
.Bonus_T_L .B_li3 li span a:hover{color:#f60}
.Bonus_T_L .B_li3 li strong.red a,.Bonus_T_L .B_li3 li strong.red a:hover{color:red}
.Urge_up ul.N_but li{cursor:pointer;float:left;width:90px;display:block;background:url(/images/IN_titlebgs.gif) no-repeat -345px -50px;padding:0 8px 0 6px;line-height:26px;color:#F60;text-align:center;margin:2px 0}
.Urge_up ul.N_but li span{width:48px;float:left;color:#fff;text-align:left}
.Urge_up .T_p{line-height:25px;margin-top:5px;}
.Urge_up p span{margin-right:10px;}
input,textarea{font-size:12px;}
.fy_G_link a{color:#090}
.bouns-top{}
.Sid_Top1{float:left;width:300px;margin-right:10px}
.Sid_Top1 .TheBook{border:1px solid #ccc;background:url(/images/bonus_TOP_novel.png) repeat-x bottom;padding:10px;line-height:18px;margin-bottom:-1px}
.Sid_Top1 .TheBook .N_img{height:126px;overflow:hidden;margin-bottom:10px;}
.TheBook .N_img p em a{color:#090}
.TheBook .N_img p em a:hover{color:#f00}
.Sid_Top1 .TheBook img{float:left;margin:0 10px 0 0;}
.Sid_Top2{float:left;width:380px;margin-right:10px;}
.Sid_Top3{width:250px;float:right}
.button5{background:url(/images/i_buyimg.gif) no-repeat 0 -109px;width:115px;text-align:center;margin:5px auto;font-weight:bold;font-size:14px;line-height:35px}
.button5 a,.button5 a:hover,.button5 a:visited{color:#fff;display:block}
.center{text-align:center}
.Sid_T_cont{border:1px solid #ccc;margin-bottom:10px}
.bouns-top .cont li a:hover{text-decoration:underline}
.bouns-top .Title3{background:#fff url(/images/repeat_bg.gif) repeat-x 0 3px;padding:0 5px 0 15px;padding-top:4px;line-height:26px;border-bottom:1px solid #ccc}
.Sid_T_cont .cont{background:#fff;padding:10px;}
.Sid_T_cont .cont ol{line-height:25px;padding:0;margin:0;}
.Sid_T_cont .cont li{text-align:right;border-bottom:1px dashed #ccc;white-space:nowrap}
.Sid_T_cont .cont li img{margin-left:2px;}
.Sid_T_cont .cont li a img{padding:0;border:0;}
.Sid_T_cont .cont li span{float:left;text-align:left}
.Sid_Top2 span a:link{color:#000;text-decoration:none;}
.Sid_Top2 span a:visited{color:#666;text-decoration:none}
.Sid_Top2 span a:hover{color:#f00;text-decoration:underline;}
.Sid_T_cont span.red,.Sid_T_cont span.red a,.Sid_T_cont strong.red a,.Sid_T_cont .red a:visited{color:red;text-decoration:none}
.Sid_Top3 .cont li{text-align:left}
.Sid_T_cont .black a:hover{color:#f00;text-decoration:underline;}
.grayP{color:#666;text-align:right;padding-top:10px}
.Sid_Top1 .N_img img{border:1px solid #ccc;padding:1px;margin:0 10px 4px 0;}
.Sid_Top1 a img{padding:2px;}
.Sid_Top1 a:hover img{border:1px solid #000;}
.S_Cont1 dt a{color:#1f8300}
.S_Cont1 dt a:visited{color:#1f8300}
.S_Cont1 dt a:hover{color:#f00}
span.favorite_msg{color:#1A53FF;padding:7px 0;height:12px;float:left;line-height:13px;}
.shop span.favorite_msg,.recommend span{float:none;margin-left:5px}
.Sid_T_cont img{_padding:6px 0;}
#m_goldmedal .S_Title{overflow:visible;height:26px;border-bottom:0;}
#m_goldmedal h2{overflow:visible;}
#m_goldmedal h2 span{float:left;cursor:pointer;padding:3px 15px 0;text-indent:0;line-height:23px;position:relative;top:0px;}
#m_goldmedal h2 .cur{background:#fff;color:#333;border-left:1px solid #aeaeae;border-right:1px solid #aeaeae;top:1px;left:-1px;}
#m_goldmedal .Cont{clear:both;}
#m_goldmedal .rank{float:left;width:120px;margin-left:10px;}
#m_goldmedal .now{float:left;padding-left:10px;margin-left:5px;width:auto;width:52px;text-align:center;}
#m_goldmedal .title{float:left;background:url(/images/gray_sidebar.png) no-repeat;color:#000;width:108px;text-align:left;height:22px;line-height:22px;margin-top:11px;padding:0 6px;}
#m_goldmedal .now p.send{background:url(/images/gray_sidebar.png) no-repeat 0 -29px;width:52px;margin-left:0px;line-height:22px;}
#m_goldmedal .send{background-position:0 -100px;width:38px;margin-left:10px;}
#m_goldmedal .num{font:18px Verdana;color:#e40000;width:45px;overflow:hidden;float:right;line-height:20px;}
.sideline{padding:0 !important;border:0px solid #d8d8d8 !important;margin-top:-1px!important;}
#zhuantie{line-height:23px;padding:0px 10px 0 0;text-align:left;margin-top:-4px;line-height:22px;padding:2px 10px 0 10px;text-align:left;margin-top:-4px;background:none repeat scroll 0 0 #EFEFEF;border-bottom:1px solid #E0DFDF;border-top:1px solid #E0DFDF;width:390px;}
#zhuantie #kaixin{background:url("/images/ico_kaixin.gif") no-repeat scroll 0 -1px transparent;}
#zhuantie a:link, #zhuantie a:visited{color:#454545;margin-left:2px;padding:2px 2px 2px 17px;}
#zhuantie a:hover{color:#fe8a01;}
#zhuantie #renren{background:url("/images/ico_renren.gif") no-repeat scroll 0 0 transparent;}
#zhuantie #douban{background:url("/images/ico_douban.gif") no-repeat scroll 0 0 transparent;}
#zhuantie #bai{background:url("/images/ico_bai.gif") no-repeat scroll 0 1px transparent;}
#zhuantie #sina{background:url("/images/ico_sina.gif") no-repeat scroll 0 -1px transparent;}
.bookmark{padding-left:75px!important;padding-left:55px;}
.discount{position:absolute;top:10px;margin-left:-5px;width:137px;height:47px;background:url(/images/h_button.png) no-repeat right -100px;overflow:hidden;}
.discount a{display:block;text-indent:-20000px;width:137px;height:47px;}
#content .update{position:relative;zoom:1;}
#content .update .ico_shupi{position:absolute;top:4px;right:4px;text-align:right;height:20px;overflow:hidden;}
#content .update .ico_shupi ul{}
#content .update .ico_shupi li{height:20px;overflow:hidden;}
.pl dt em img{margin:0 1px;cursor:pointer;}
.sTitle{font-weight:normal;display:inline;}
.sTitle a:link,.sTitle a:visited{color:#000000;}
.sTitle a:hover{color:#000000;text-decoration:underline;}
.jqmWindow{z-index:9999;LEFT:45%;MARGIN-LEFT:-140px;POSITION:fixed;TOP:20%;#top:20%;}
.jqmOverlay{BACKGROUND-COLOR:#000}
* HTML .jqmWindow{POSITION:absolute;TOP:expression((document.body.scrollTop || document.documentElement.scrollTop ) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 60) + 'px')}
.frame{display:block;width:100%;position:absolute;top:-50px;left:0;z-index:1;border:50px solid #000;height:100%;border:17px solid #000;filter:alpha(opacity=0);-moz-opacity:0;}