<div id="footer">
  <p id="foot_Navi"><a target="_blank" href="{GODHOUSE_DOMAIN_WWW}novel-newlist.htm">最近更新小说</a><a target="_blank" href="###">热门小说</a><a target="_blank" href="###">推荐小说</a> </p>
  <p class="Copyright">Copyright &copy; 2004-2010 《<a href="{GODHOUSE_DOMAIN_WWW}">木耳屋小说网</a>》版权所有，<a target="_blank" href="{GODHOUSE_DOMAIN_WWW}index-list-5-43.htm">都市生活</a>、<a target="_blank" href="{GODHOUSE_DOMAIN_WWW}index-list-2-20.htm">军事战争</a>、<a target="_blank" href="{GODHOUSE_DOMAIN_WWW}index-list-5-30.htm" >校园爱情</a>、<a target="_blank" href="{GODHOUSE_DOMAIN_WWW}index-list-4.htm">武侠小说</a>和斗破苍穹的小说等<a target="_blank"href="{GODHOUSE_DOMAIN_WWW}">小说</a>在线阅读</p>
  <p class="black">有问题请联系管理员：muerwu@gmail.com</p>
  <p style="display:none;"><script src="http://s16.cnzz.com/stat.php?id=2580159&web_id=2580159" language="JavaScript"></script></p>
</div>
</body>
</html>