@charset "utf-8";
BODY {
	FONT-SIZE: 12px; MARGIN: 0px; LINE-HEIGHT: 16px; FONT-FAMILY: ""
}
TD {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 16px
}
.td22 {
	LINE-HEIGHT: 22px
}
.td24 {
	LINE-HEIGHT: 24px
}
.td27 {
	LINE-HEIGHT: 27px
}
TABLE {
	FONT-SIZE: 12px
}
A:link {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: none
}
A.px14:link {
	FONT-SIZE: 14px; TEXT-DECORATION: none
}
A.px14:visited {
	FONT-SIZE: 14px; TEXT-DECORATION: none
}
A.px14:hover {
	FONT-SIZE: 14px; TEXT-DECORATION: underline
}
A.px14:active {
	FONT-SIZE: 14px; TEXT-DECORATION: none
}
A.bestpx14:link {
	FONT-SIZE: 14px; COLOR: #045497; TEXT-DECORATION: none
}
A.bestpx14:visited {
	FONT-SIZE: 14px; COLOR: #045497; TEXT-DECORATION: none
}
A.bestpx14:hover {
	FONT-SIZE: 14px; COLOR: red; TEXT-DECORATION: underline
}
A.bestpx14:active {
	FONT-SIZE: 14px; COLOR: #045497; TEXT-DECORATION: none
}
A.zxja01:link {
	FONT-SIZE: 12px; COLOR: #045497; TEXT-DECORATION: none
}
A.zxja01:visited {
	FONT-SIZE: 12px; COLOR: #045497; TEXT-DECORATION: none
}
A.zxja01:hover {
	FONT-SIZE: 12px; COLOR: red; TEXT-DECORATION: underline
}
A.zxja01:active {
	FONT-SIZE: 12px; COLOR: #045497; TEXT-DECORATION: none
}
A.whitea:link {
	COLOR: white; TEXT-DECORATION: none
}
A.whitea:visited {
	COLOR: white; TEXT-DECORATION: none
}
A.whitea:hover {
	COLOR: white; TEXT-DECORATION: underline
}
A.whitea:active {
	COLOR: white; TEXT-DECORATION: none
}
A.blacka:link {
	COLOR: black; TEXT-DECORATION: none
}
A.blacka:visited {
	COLOR: black; TEXT-DECORATION: none
}
A.blacka:hover {
	COLOR: black; TEXT-DECORATION: underline
}
A.blacka:active {
	COLOR: black; TEXT-DECORATION: none
}
A.nextarticle:link {
	FONT-SIZE: 14px; COLOR: blue; TEXT-DECORATION: none
}
A.nextarticle:visited {
	FONT-SIZE: 14px; COLOR: blue; TEXT-DECORATION: none
}
A.nextarticle:hover {
	FONT-SIZE: 14px; COLOR: black; TEXT-DECORATION: underline
}
A.nextarticle:active {
	FONT-SIZE: 14px; COLOR: blue; TEXT-DECORATION: none
}
.nextpagetd {
	PADDING-BOTTOM: 15px; LINE-HEIGHT: 20px
}
.img_index {
	
}
.img_smallclass {
	
}
.img_article {
	
}
.img_piclist {
	
}
.page_text {
	FONT-SIZE: 12px; COLOR: black
}
A.page_link:link {
	FONT-SIZE: 12px; COLOR: black; TEXT-DECORATION: none
}
A.page_link:visited {
	FONT-SIZE: 12px; COLOR: black; TEXT-DECORATION: none
}
A.page_link:hover {
	FONT-SIZE: 12px; COLOR: black; TEXT-DECORATION: underline
}
A.page_link:active {
	FONT-SIZE: 12px; COLOR: black; TEXT-DECORATION: none
}
.page_button {
	BORDER-RIGHT: #cccccc 1px groove; FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: normal; BORDER-BOTTOM: #cccccc 1px groove; FONT-STYLE: normal; HEIGHT: 20px; BACKGROUND-COLOR: #eeeeee; FONT-VARIANT: normal
}
.page_inputbox {
	BORDER-RIGHT: #aaaaaa 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #aaaaaa 1px solid; WIDTH: 20pt; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: #aaaaaa 1px solid; HEIGHT: 16px; BACKGROUND-COLOR: #ffffff
}
.nav_text {
	FONT-SIZE: 12px; COLOR: white
}
A.nav_link:link {
	FONT-SIZE: 12px; COLOR: white; TEXT-DECORATION: none
}
A.nav_link:visited {
	FONT-SIZE: 12px; COLOR: white; TEXT-DECORATION: none
}
A.nav_link:hover {
	FONT-SIZE: 12px; COLOR: white; TEXT-DECORATION: underline
}
A.nav_link:active {
	FONT-SIZE: 12px; COLOR: white; TEXT-DECORATION: none
}
A.commentlink:link {
	FONT-SIZE: 14px; COLOR: blue; TEXT-DECORATION: none
}
A.commentlink:visited {
	FONT-SIZE: 14px; COLOR: blue; TEXT-DECORATION: none
}
A.commentlink:hover {
	FONT-SIZE: 14px; COLOR: red; TEXT-DECORATION: underline
}
A.commentlink:active {
	FONT-SIZE: 14px; COLOR: blue; TEXT-DECORATION: none
}
A.list:link {
	FONT-SIZE: 14px; COLOR: #045497; TEXT-DECORATION: none
}
A.list:visited {
	FONT-SIZE: 14px; COLOR: #045497; TEXT-DECORATION: none
}
A.list:hover {
	FONT-SIZE: 14px; COLOR: red; TEXT-DECORATION: underline
}
A.list:active {
	FONT-SIZE: 14px; COLOR: #045497; TEXT-DECORATION: none
}
A.listRight:link {
	FONT-SIZE: 12px; COLOR: #045497; TEXT-DECORATION: none
}
A.listRight:visited {
	FONT-SIZE: 12px; COLOR: #045497; TEXT-DECORATION: none
}
A.listRight:hover {
	FONT-SIZE: 12px; COLOR: red; TEXT-DECORATION: underline
}
A.listRight:active {
	FONT-SIZE: 12px; COLOR: #045497; TEXT-DECORATION: none
}
A.topicBottom:link {
	FONT-SIZE: 14px; COLOR: #045497; TEXT-DECORATION: none
}
A.topicBottom:visited {
	FONT-SIZE: 14px; COLOR: #045497; TEXT-DECORATION: none
}
A.topicBottom:hover {
	FONT-SIZE: 14px; COLOR: red; TEXT-DECORATION: underline
}
A.topicBottom:active {
	FONT-SIZE: 14px; COLOR: #045497; TEXT-DECORATION: none
}
A.topicTop:link {
	FONT-SIZE: 12px; COLOR: #045497; TEXT-DECORATION: none
}
A.topicTop:visited {
	FONT-SIZE: 12px; COLOR: #045497; TEXT-DECORATION: none
}
A.topicTop:hover {
	FONT-SIZE: 12px; COLOR: red; TEXT-DECORATION: underline
}
A.topicTop:active {
	FONT-SIZE: 12px; COLOR: #045497; TEXT-DECORATION: none
}
A.black12px:link {
	FONT-SIZE: 12px; COLOR: #333333; TEXT-DECORATION: none
}
A.black12px:visited {
	FONT-SIZE: 12px; COLOR: #333333; TEXT-DECORATION: none
}
A.black12px:hover {
	FONT-SIZE: 12px; COLOR: red; TEXT-DECORATION: underline
}
A.black12px:active {
	FONT-SIZE: 12px; COLOR: #333333; TEXT-DECORATION: none
}
.newspagetext {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: red
}
.newspagenolink {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 2px; COLOR: black; PADDING-TOP: 2px; BACKGROUND-COLOR: #e3e2e2
}
A.newspagelink:link {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 2px; COLOR: red; PADDING-TOP: 2px; BACKGROUND-COLOR: #e3e2e2; TEXT-DECORATION: none
}
A.newspagelink:active {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 2px; COLOR: red; PADDING-TOP: 2px; BACKGROUND-COLOR: #e3e2e2; TEXT-DECORATION: none
}
A.newspagelink:visited {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 2px; COLOR: red; PADDING-TOP: 2px; BACKGROUND-COLOR: #e3e2e2; TEXT-DECORATION: none
}
A.newspagelink:hover {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 2px; COLOR: black; PADDING-TOP: 2px; BACKGROUND-COLOR: #e3e2e2; TEXT-DECORATION: underline
}
.article_title {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: red; LINE-HEIGHT: 120%
}
.content_td {
	FONT-SIZE: 14px; COLOR: #045497; WORD-BREAK: break-all; LINE-HEIGHT: 26px; WORD-WRAP: break-word
}
.article_copyright {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: black; HEIGHT: 30px
}
.article_source {
	FONT-SIZE: 12px; COLOR: black
}
.article_author {
	FONT-SIZE: 12px; COLOR: black
}
.article_bottom_tb {
	BORDER-RIGHT: #aae924 1px solid; BORDER-TOP: #aae924 1px solid; BORDER-LEFT: #aae924 1px solid; BORDER-BOTTOM: #aae924 1px solid
}
A.index_topnews:link {
	FONT-WEIGHT: 700; FONT-SIZE: 12pt; COLOR: red; LINE-HEIGHT: 115%; TEXT-DECORATION: none
}
A.index_topnews:visited {
	FONT-WEIGHT: 700; FONT-SIZE: 12pt; COLOR: red; LINE-HEIGHT: 115%; TEXT-DECORATION: none
}
A.index_topnews:hover {
	FONT-WEIGHT: 700; FONT-SIZE: 12pt; COLOR: red; LINE-HEIGHT: 115%; TEXT-DECORATION: underline
}
A.index_topnews:active {
	FONT-WEIGHT: 700; FONT-SIZE: 12pt; COLOR: red; LINE-HEIGHT: 115%; TEXT-DECORATION: none
}
A.alv12:link {
	FONT-SIZE: 12px; COLOR: #62a235; TEXT-DECORATION: none
}
A.alv12:visited {
	FONT-SIZE: 12px; COLOR: #62a235; TEXT-DECORATION: none
}
A.alv12:hover {
	FONT-SIZE: 12px; COLOR: red; TEXT-DECORATION: underline
}
A.alv12:active {
	FONT-SIZE: 12px; COLOR: #62a235; TEXT-DECORATION: none
}
A.ahong12:link {
	FONT-SIZE: 12px; COLOR: #c1416e; TEXT-DECORATION: none
}
A.ahong12:visited {
	FONT-SIZE: 12px; COLOR: #c1416e; TEXT-DECORATION: none
}
A.ahong12:hover {
	FONT-SIZE: 12px; COLOR: red; TEXT-DECORATION: underline
}
A.ahong12:active {
	FONT-SIZE: 12px; COLOR: #c1416e; TEXT-DECORATION: none
}
A.ahui12:link {
	FONT-SIZE: 12px; COLOR: #444444; TEXT-DECORATION: none
}
A.ahui12:visited {
	FONT-SIZE: 12px; COLOR: #444444; TEXT-DECORATION: none
}
A.ahui12:hover {
	FONT-SIZE: 12px; COLOR: red; TEXT-DECORATION: underline
}
A.ahui12:active {
	FONT-SIZE: 12px; COLOR: #444444; TEXT-DECORATION: none
}
A.alan12:link {
	FONT-SIZE: 12px; COLOR: #0073c1; TEXT-DECORATION: none
}
A.alan12:visited {
	FONT-SIZE: 12px; COLOR: #0073c1; TEXT-DECORATION: none
}
A.alan12:hover {
	FONT-SIZE: 12px; COLOR: red; TEXT-DECORATION: underline
}
A.alan12:active {
	FONT-SIZE: 12px; COLOR: #0073c1; TEXT-DECORATION: none
}
A.awhite12:link {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.awhite12:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.awhite12:hover {
	FONT-SIZE: 12px; COLOR: white; TEXT-DECORATION: underline
}
A.awhite12:active {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.white12 {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.white14 {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: none
}
.hui12 {
	FONT-SIZE: 12px; COLOR: #444444; TEXT-DECORATION: none
}
.hui14 {
	FONT-SIZE: 14px; COLOR: #444444; TEXT-DECORATION: none
}
A.ahui14:link {
	FONT-SIZE: 14px; COLOR: #444444; TEXT-DECORATION: none
}
A.ahui14:visited {
	FONT-SIZE: 14px; COLOR: #444444; TEXT-DECORATION: none
}
A.ahui14:hover {
	FONT-SIZE: 14px; COLOR: red; TEXT-DECORATION: underline
}
A.ahui14:active {
	FONT-SIZE: 14px; COLOR: #444444; TEXT-DECORATION: none
}
A.awhite14:link {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.awhite14:visited {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.awhite14:hover {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: underline
}
A.awhite14:active {
	FONT-SIZE: 14px; COLOR: #ffffff; TEXT-DECORATION: none
}
.NextPicDiv {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 10px; COLOR: red
}
.contentImgDiv {
	MARGIN: 0px
}
.tagSpan {
	WIDTH: 38px
}
.tagSpanTT {
	WIDTH: 54px
}
.tagTD {
	PADDING-LEFT: 12px; FONT-SIZE: 12px; PADDING-BOTTOM: 8px; COLOR: #444444; LINE-HEIGHT: 20px; PADDING-TOP: 8px
}
A.taga:link {
	FONT-SIZE: 12px; COLOR: #444444; TEXT-DECORATION: none
}
A.taga:visited {
	FONT-SIZE: 12px; COLOR: #444444; TEXT-DECORATION: none
}
A.taga:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.taga:active {
	FONT-SIZE: 12px; COLOR: #444444; TEXT-DECORATION: none
}
.tagDiv {
	
}
.button_gray {
	BORDER-RIGHT: #cccccc 1px groove; FONT-WEIGHT: normal; FONT-SIZE: 9pt; CURSOR: hand; LINE-HEIGHT: normal; BORDER-BOTTOM: #cccccc 1px groove; FONT-STYLE: normal; BACKGROUND-COLOR: #eeeeee; FONT-VARIANT: normal
}
.inputbox_gray {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #aaaaaa 1px solid; COLOR: black; BORDER-BOTTOM: #aaaaaa 1px solid; HEIGHT: 19px; BACKGROUND-COLOR: #ffffff
}
.textarea_gray {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; SCROLLBAR-FACE-COLOR: #efefef; FONT-WEIGHT: normal; FONT-SIZE: 9pt; SCROLLBAR-HIGHLIGHT-COLOR: #efefef; BORDER-LEFT: #aaaaaa 1px solid; SCROLLBAR-SHADOW-COLOR: #aaaaaa; COLOR: black; SCROLLBAR-3DLIGHT-COLOR: #aaaaaa; LINE-HEIGHT: normal; SCROLLBAR-ARROW-COLOR: #efefef; BORDER-BOTTOM: #aaaaaa 1px solid; FONT-STYLE: normal; SCROLLBAR-DARKSHADOW-COLOR: #efefef; SCROLLBAR-BASE-COLOR: #efefef; BACKGROUND-COLOR: #ffffff; FONT-VARIANT: normal
}
.tt {
	WIDTH: 250px; COLOR: #333333
}
.commentTitle {
	MARGIN-TOP: 6px; MARGIN-BOTTOM: 4px
}
.commentDiv {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; OVERFLOW-Y: scroll; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 99%; COLOR: #6f6f6f; WORD-BREAK: break-all; LINE-HEIGHT: 20px; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 110px; BACKGROUND-COLOR: #fcfcfc; TEXT-ALIGN: left; WORD-WRAP: break-word
}
DIV#page {
	MARGIN-LEFT: auto; WIDTH: 960px; MARGIN-RIGHT: auto; TEXT-ALIGN: center
}
DIV#topMenu {
	BORDER-TOP: #a3a3a3 1px solid; WIDTH: 960px; HEIGHT: 76px
}
DIV#log {
	MARGIN-TOP: 7px; FLOAT: left; WIDTH: 190px; TEXT-ALIGN: center
}
DIV#menu {
	MARGIN-TOP: 6px; FLOAT: right; WIDTH: 770px; COLOR: #555555; LINE-HEIGHT: 20px
}
DIV#menu SPAN {
	BACKGROUND-COLOR: #ffffe6
}
DIV#bottom {
	MARGIN-TOP: 10px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 960px; HEIGHT: auto; TEXT-ALIGN: center
}
DIV#link {
	MARGIN-TOP: 20px; FLOAT: left; WIDTH: 960px; COLOR: #666666; HEIGHT: auto; TEXT-ALIGN: center
}
DIV#link A:link {
	FONT-SIZE: 12px; COLOR: #666666
}
DIV#link A:visited {
	FONT-SIZE: 12px; COLOR: #666666
}
DIV#link A:active {
	FONT-SIZE: 12px; COLOR: #666666
}
DIV#link A:hover {
	FONT-SIZE: 12px; COLOR: red
}
DIV#tt {
	FLOAT: left; WIDTH: 179px
}
.pic1 {
	BORDER-RIGHT: #e4e4e4 4px solid; BORDER-TOP: #e4e4e4 4px solid; BORDER-LEFT: #e4e4e4 4px solid; BORDER-BOTTOM: #e4e4e4 4px solid
}
.listbg {
	style: "border-bottom: 1 solid #efefef"
}
.main_tdbg_760i {
	BORDER-RIGHT: #aae3ff 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #aae3ff 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; BORDER-LEFT: #aae3ff 1px solid; LINE-HEIGHT: normal; PADDING-TOP: 8px; BORDER-BOTTOM: #aae3ff 1px solid
}
