@charset "utf-8";
/* CSS Document */
/*2011-8-19 16:00 zhaoyf*/

/**/


/**/

.day ul li{ text-indent:8px; color:#A87431}


h4{ height:27px;   background:url(../images/t16.gif) ; color:#B37B52}
.H402{ line-height:27px; padding-left:10px;}

.day{ height:308px; overflow:hidden; width:200px; }
.day li{ height:28px; line-height:28px; overflow:hidden;}
.day ul{  float:left; width:56px;}
.day ul li{ cursor:pointer; background-position:-3px -40px; width:56px;   font-size:13px; }
.day ul .active{ background-position:-3px -3px;  font-weight:bold}
.day ol{ float:left; width:140px;  }
.day ol li{ float:left; width:70px;}


/**/

.j-slider .list {position: relative;float:left;}

#j-tab-b ol{display:none;}
#j-tab-b .active{display:block;}

#j-tab-b1 ol{display:none;}
#j-tab-b1 .active{display:block;}

#j-tab-b2 .list{display:none;}
#j-tab-b2 .active{display:block;}

#j_animafeature{height:470px;}
#j_animafeature .j-slider{width:10000px;position: absolute;}