<!--{include header.htm}-->

<div class="width">
	<div class="page tab" style="width: 780px; margin: auto;">
		<a href="?medal-list.htm" $_checked[list]>勋章</a>
		<a href="?medal-grant.htm" $_checked[grant]>颁发</a>
		<a href="?medal-apply.htm" $_checked[grant]>审核</a>
	</div>
	<form action="?medal-recover-page-$page.htm" method="post" id="rankform">
		<input type="hidden" name="FORM_HASH" value="{FORM_HASH}" />
		<div style="width: 780px;">
			<!--<div class="header">勋章审核</div>-->
			<div class="list">
				<table class="table">
					<tr class="header">
						<td width="50"><input type="checkbox" value="" title="全选" id="checkall" /></td>
						<td width="60">申请用户名</td>
						<td width="100">勋章名称</td>
						<td width="80">图片</td>
						<td width="60">申请日期</td>
					</tr>
					<!--{loop $medal_user_list $v}-->
					<tr>
						<td align="center"><input type="checkbox" name="muids[]" value="{$v[muid]}" /></td>
						<td>$v[username]</td>
						<td>$v[medalname]</td>
						<td><img src="$v[picture]" /></td>
						<td>$v[createdtime]</td>
					</tr>
					<!--{/loop}-->
				</table>
			</div>
			<!--{if $pages}--><div class="page" style="margin-top: 4px;">$pages</div><!--{/if}-->
			<div style="text-align: center; margin-top: 4px;">
				<input type="hidden" value="" name="status" id="status" />
				<input type="button" value=" 通过 " class="button bigblue" id="medal_pass" />
				<input type="button" value=" 否决 " class="button biggrey" id="medal_veto" />
			</div>
		</div>
	</form>
</div>

<!--{include footer.htm}-->
<script>
$('#medal_update_submit').click(function() {
	$('#medal_update_form').submit();
	return false;
});

$('#medal_pass').click(function() {
	if(window.confirm('确定通过选中项吗？')) {
		$('#status').val(1);
		$('#rankform').attr('action', '?medal-modApply-page-$page.htm');
		$('#rankform').submit();
	}
	return false;
});

$('#medal_veto').click(function() {
	if(window.confirm('确定否决选中项吗？')) {
		$('#status').val(0);
		$('#rankform').attr('action', '?medal-modApply-page-$page.htm');
		$('#rankform').submit();
	}
	return false;
});

$('#checkall').click(function() {
	$('#rankform input[name="muids[]"]').attr('checked', this.checked);
});
</script>
</body>
</html>