<!--{json width:"400",height:"200",title:"用户退出"}-->

<h2 style="text-align: center; margin: 32px;"> 您确定退出吗？</h2>
<div style="text-align: center">
	<form action="?user-logout.htm" method="post" id="logout_form">
		<input type="hidden" name="FORM_HASH" value="{FORM_HASH}" />
		<input type="submit" class="button bigblue" id="logout_submit" value="退出" tabindex="3" />
		<input type="button" class="button biggrey" value="关闭" id="logout_cancel"/>
		<div class="notice" id="logout_notice" style="display: none;"></div>
	</form>
</div>

<script type="text/javascript">

// 延迟执行的脚本，约定名字为：delay_execute()
function delay_execute(dialog, recall) {
	var ajaxhandle = null;
	$('#logout_submit').click(function() {
		
		// 终止短消息循环
		if(newpm_instance) newpm_instance.stop();
		
		$('#logout_notice').html('正在退出, 请稍后 ...').show();
		var postdata = $("#logout_form").serialize() + "&ajax=1";
		$.post($('#logout_form').attr('action'), postdata,  function(s){
			
			var json = json_decode(s);
			if(error = json_error(json)) {alert(error); return false;}
			
			json = json.message;
			
			// hook user_logout_success_js.htm
			
			$('#user').html('<a href="?user-login.htm" class="ajaxdialog" onclick="return false">登录</a> <a href="?user-create.htm" class="ajaxdialog" onclick="return false">注册</a>');
			dialog.set_body('<div class="ok">退出成功。</div>');
			setTimeout(function(){
	 			dialog.close();
	 			$('#logout_notice').html('').hide();
	 			window.location.reload();
	 		}, 1000);
		});
		return false;
	});
	
	$('#logout_cancel').click(function() {
		$('#logout_notice').html('').hide();
		dialog.close();
	});
}
</script>
